<div class="login-page">
    <div class="login">
        <div class="form-login">
            <img class="logo" src="https://www.google.com/a/cpanel/vnext.com.vn/images/logo.gif?service=google_gsuite"/>
            <form>
                <input type="text" placeholder="email">
                <input type="text" placeholder="password">
                <button type="submit">Log in</button>
                <a class="forget-pass" [routerLink]="['/changpass']" >Forget password</a>
                <p class="login-signup">Don't have an account? &nbsp; <a [routerLink]="['/register']">Sign up</a> </p>
            </form>
        </div>
    </div>
</div>
